# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# Build directories
.svelte-kit
build
dist
bin

# Node modules
node_modules

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode
.idea
